body {
  background-color: black;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family:  Arial, Helvetica, sans-serif;;
}
.center-text {
  text-align: center;
  font: 45px;
}
.subtext{
  text-align: center;
  padding: 30vh;
  font-size: 50px;

}
.timer{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  padding: 0px;
}

.font-black{
  color:black;
  background: white;
}
.font-friday{
  color:red;
  background: yellow;
}
.timer-elements{
  padding-right: 10px;
  font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}