body {
    background-color: black;
    color: white;
  }
.center-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.timer{
  position: bottom;
  top: 80%;
  align-items: bottom;
  text-align: center;
  min-height: 50px;
}